* {
  padding: 0;
  margin: 0;
}
:root {
  --primary: skyblue;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 50px 0;
  background-image: url("ana.jpg");
  background-blend-mode: overlay;
  background-color: rgba(180, 49, 121, 0.3);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.container {
  width: 50%;
}
.header {
  text-align: center;
  margin: 20px 0;
}
.survey {
  background-color: rgba(223, 16, 61, 0.5);
  width: 80%;
  padding: 20px 15px;
  margin: auto;
  border-radius: 10px;
}
.block {
  display: block;
  width: 100%;
  box-sizing: border-box;
  height: 30px;
  border-radius: 2px;
}
.st{
    padding-left: 20px;
}
#age{
    list-style: none;
}
.block:hover,
.btn:hover {
  border: 2px solid var(--primary);
}
.rad {
  margin-right: 5px;
}

.text {
  height: 100px;
}
.btn {
  display: block;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
.btn-green {
  background-color: rgb(0, 255, 106);
}
